/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: "wght" var(--font-wg-text);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  letter-spacing: 0;
}

.default__block {
  inline-size: var(--block-wdh);
}

.header {
  background-color: var(--bg-color);
  border: solid 2px var(--accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-block-size: 368px;
  gap: 20px;
  margin-block-end: 50px;
}

.title {
  font-size: var(--h1-wdh);
}

.subtitle {
  font-size: var(--h2-wdh);
}

.dialog__box {
  border: 2px solid var(--accent);
  padding: 30px;
  /*inline-size: 353px;
  block-size: 191px;*/
}

.dialog__box[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog__box::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__text {
  width: 234px;
  line-height: 150%;
}

.dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: transparent;
}

.decor__text {
  font-family: var(--font-decor), sans-serif;
  text-transform: uppercase;
}

.content__section {
  border: solid 2px var(--accent);
  background-color: var(--bg-color);
}

.content__section_title-block {
  padding: 5px 10px;
}

.image__box {
  position: relative;
  border-bottom: solid 2px var(--accent);
  border-top: solid 2px var(--accent);
}

.content__section-decor {
  position: absolute;
  opacity: 0.5;
  text-shadow: var(--tx-shadow);
  inset-inline-end: 25px;
  inset-block-start: 27px;
  mix-blend-mode: hard-light;
  z-index: 1;
  font-size: 14px;
}

@supports (
  (text-stroke: 1px var(--tx-stroke)) or
    (-webkit-text-stroke: 1px var(--tx-stroke))
) {
  .content__section-decor {
    -webkit-text-stroke: 1px var(--tx-stroke);
    text-stroke: 1px var(--tx-stroke);
    text-shadow: none;
  }
}

.content__section-title {
  font-size: 18px;
  font-variation-settings: "wght" var(--font-wg-title);
}

.content__section-image {
  inline-size: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.car {
  filter: contrast(120%);
}

.blocknote {
  filter: grayscale(0.8);
}

.mount {
  filter: blur(1px);
}

.balance {
  filter: sepia(1);
}

.community {
  filter: saturate(160%);
}

.way {
  filter: invert(1);
}

.astro {
  filter: grayscale(100%);
}

.books {
  filter: saturate(160%) contrast(120%);
}

.content__section-box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 22px 25px 25px;
}

.content__section_text-box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
  line-height: 117%;
}

.button__box {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2px;
}

.save__icon {
  width: 21px;
  height: 21px;
  color: #fff;
}

.button__text {
  z-index: 1;
  position: relative;
  mix-blend-mode: difference;
  background-color: #000;
  color: #fff;
}

/*------------Кнопки---------------*/

.button {
  background-color: var(--bg-color);
  font-size: var(--font-size-bt);
  font-family: var(--font-decor), sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--accent);
  line-height: 90%;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.button:not(.button__icon) {
  color: #fff;
}

.dialog__button {
  padding: 9px 17px;
  width: 293px;
  height: 38px;
}

.button__icon {
  border: none;
  transition: outline 0.3s ease;
}

.button__like {
  padding: 9px 17px;
  width: 130px;
  height: 38px;
}

.button__save {
  padding: 15px 18px;
  width: 335px;
  height: 55px;
  gap: 8px;
  margin-block-end: 100px;
}

.button:not(.button__icon)::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
  background-color: #fff;
  color: #fff;
}

/*------------Состояния кнопок---------------*/

.button:focus {
  outline: none;
}

.button:not(.button__icon):focus {
  box-shadow: 2px 2px 0 var(--accent);
}

.button:not(.button__icon):hover::before {
  transform: translateX(0);
}

.button__icon:focus:focus-visible {
  outline: 2px solid var(--accent);
}
/*------------Медиа---------------*/

@media (width <= 375px) {
  .header {
    min-block-size: 327px;
  }
  .dialog__button {
    padding: 9px 17px;
    width: 261px;
    height: 38px;
  }
  .content__section-decor {
    inset-inline-end: 23px;
    inset-block-start: 24px;
  }

  .save__button {
    flex-direction: column;
    width: 306px;
    height: 80px;
  }

  .save__icon {
    width: 28px;
    height: 28px;
  }
}

/*-------------Сердце---------------*/
.like-icon {
  transform-origin: center;
}

.is-liked .heart {
  animation: heart-transform 0.3s ease-in 0.1s 1;
  transform-origin: center;
}

.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent);
  transition-delay: 0.05s;
}

.like-icon:hover .core {
  fill: var(--accent);
  transition-delay: 0s;
}

.like-icon:active .main-body{
  fill: var(--main-body);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--core);
  transition-delay: 0s;
}

.like-icon.is-liked .contour {
  fill: var(--contour-click);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--main-body);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--core);
  transition-delay: 0s;
}
