/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: "Inter";
  --font-wg-title: 715;
  --font-decor: "Press Start 2P";
  --font-wg-text: 410;
  --bg-image: repeating-linear-gradient(to right,#d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
              repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
              linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --block-wdh: clamp(375px, 50%, 700px);
  --h1-wdh: clamp(3.0625rem, 1.0087rem + 4.9231vw, 4.0625rem);
  --p-wdh: clamp(0.875rem, 0.4423rem + 1.8462vw, 23px);
  --bt-wdh: 14px;
  --tx-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  --tx-stroke: #fff;
  --font-size-bt: 14px;
  --bg-color: #fff;
  --accent: #000;
  --contour-click: red;
  --main-body: red;
  --core: red;
  --sparks: red;
}
